<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo2.png" width="150px" class="user-avatar" />
            <h1>Spirit Dojo</h1>
            <!-- <ul>
                <li class="text" *ngFor="let item of items | async">
                        {{item.$key}}:{{item.$value}}
                </li>
            </ul> -->
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario" class="form-control input-underline input-lg" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="contrasena" class="form-control input-underline input-lg" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="iniciarSesion()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
        </div>
    </div>
</div>
